<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AppTestPG</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">Accueil</a>
            <ul class="navbar-nav mr-auto">
                <% if (req.session.loggedin) { %>
                    <th class="d-print-none">
                        <a class="btn btn-sm btn-danger" href="/logout">Déconnexion</a>
                    </th>
                    <% } else { %>

                        <% } %>

            </ul>
        </nav>