<%- include("_header") -%>
    <form action="/forgot-password" method="post">
        <!-- user input-->
        Nom:<br>
        <input type="text" name="username" placeholder="Nom" required><br><br> Email<br>
        <input type="text" name="email" placeholder="email" required><br><br>
        <!-- submit button -->
        <input type="submit" value="Envoyer le lien">

    </form>

    <%- include("_footer") -%>