<%- include("_header") -%>

    <% if (req.session.loggedin) { %>
        <h1>Bienvenue sur votre page
            <%= username %> !</h1>

        <% } else { %>

            <% } %>


                <%- include("_footer") -%>