<%- include("_header") -%>

    <h1>Bienvenue</h1>
    <th class="d-print-none">
        <a class="btn btn-sm btn-success" href="/login">Merci de vous connecter</a>
    </th>

    <%- include("_footer") -%>