<%- include("_header") -%>
    <form action="/reset-password" method="post">
        <!-- user input-->
        Nouveau mot de passe:<br>
        <input type="text" name="username" placeholder="Nouveau mot de passe" required><br>
        <!-- submit button -->
        <input type="submit" value="RESET">

    </form>
    <%- include("_footer") -%>